#################################################
# 构建
#################################################

CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

CONFIG_QCOW2_IMAGES=y


#################################################
# OpenWRT
#################################################

# LUCI 主题
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y

#################################################
# 网络
#################################################

# 科学上网
CONFIG_PACKAGE_luci-app-openclash=y
# 组网
CONFIG_PACKAGE_luci-app-zerotier=y

# 连接 VPN
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_ppp-mod-pptp=y

# DDNS 支持
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=y

# IPTV
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_igmpproxy=y


#################################################
# 工具
#################################################
CONFIG_PACKAGE_iperf3=y

# SSL 证书
CONFIG_PACKAGE_luci-app-acme=y
